*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    position: relative;
}
@font-face {
    font-family: cursed;
    src: url(cursed-timer-ulil-font/CursedTimerUlil-Aznm.ttf);
    font-weight: bold;
}
.main {
    position: absolute;
    background-color:  #1B244A;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
}

h2 {
    font-size: 40px;
    line-height: 35.85px;
    font-weight: 700;
    font-family: Verdana;
    color: #EEEEEE;
}
.score-box {
    background-color: #080001;
    width: 155px;
    height: 120px;
    border-radius: 5px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: cursed;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
    background-color:  #1B244A;
    color: #9AABD8;
    cursor:  pointer;

}
p {
    font-family: cursed;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;

}

@media (max-width:426px) {
    .main {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .home-box {
        margin-bottom: 10px;
        
    }
    .score-box {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
}